.header {
     background-color: green;
}
.displayOne{
     background-color: antiquewhite;
}
.tenRating{
     background-color: bisque;
}

.movieImage{
     border-color: aquamarine;
}
.movieInfo {
     border-color: red;
}