
.todolist {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: stretch;
     padding: 3vmin;
     font-size: 2vmin;
     background-color: var(--pink-4);
}
.Completed {
     background-color: var(--olive-3);
     display: flex;
     flex-direction: column;

}

.NotCompleted{
     background-color: var(--blue-3);
     display: flex;
     flex-direction: column;

}
