.todospage {
     display:flex;
     justify-content: space-around;

     padding: 25px;
     margin: 10px;
     background-color: var(--blue-2);
}

.newtodo .nowlist .neverlist{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     list-style: none;
     max-width: calc(90vw - 4rem);
     height: 1vh;
     padding: 8px;
   }
   
   .nowlist .neverlist > li {
     border: none;
     box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
     width: 100%;
     text-align: center;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 0 1rem;
     margin: 0.15rem 0;
   }
   
   .nowlist .neverlist > li .left {
     flex-basis: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   
   .nowlist .neverlist > li > .left input[type="text"] {
     width: 50%;
     height: 2rem;
   }
   .nowlist .neverlist > li input[type="text"] {
     margin-bottom: 1rem;
   }
   
   .nowlist .neverlist > li label {
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   
   h1 {
     text-decoration: underline;
     font-size: calc(1vw + 12px);
   }
   
   button {
     background-color: var(--orange);
     width: fit-content;
   }

   .nowlist {
    
    width: 30%;
    background-color: var(--blue-1);
   }

   .neverlist {
    width: 30%;
    background-color: var(--blue-3);
   }

   .newtodo{
    width: 30%;
    background-color: var(--blue-2);
    margin-top: 1px;
   }
   
   ul{
    list-style-type: none;
   }
   