.MenuList {
     height: fit-content;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
     grid-gap: 0.5rem;
   
     background-color: var(--blue-1);
    border: .1vmin solid var(--blue-3);
     border-radius: 2vmin;

     }
