.container {
     background-color: var(--pink-1);

     .input {
          font-size: 22px;
          align-items: flex-end ;
          
     }
     }
     .Completed {
          display: flex;
          

     }
     .NotCompleted {

     }