.categorylist {
     color: var(--text-dark);
     list-style: none;
     padding: 0;
     font-size: 1.7vw;
     }
     
     .categorylist li {
     padding: .6vmin;
     text-align: center;
     border-radius: .5vmin;
     margin-bottom: .5vmin;
     }
     
     .categorylist li:hover:not(.active) {
     cursor: pointer;
     background-color: var(--orange);
     color: var(--blue-3);
     }
     
     .categorylist li.active {
     color: var(--text-dark);
     background-color: var(--blue-3);
     border: .1vmin solid var(--blue-1);
     }